body {
    margin: 0;
}

html {
    font-size: 16px;
}

html, body, section {
    background-color: #F5F5F5
}

h4.name {
    color: DarkCyan;
    font-size: 26px;
}

section {
    border-bottom: none;
}

div#main {
    margin-left: 230px;
    float: none;
    max-width: 1500px;
}

p > code {
    background-color: LightYellow;
    color: Maroon;
}

code span {
    line-height: 20px;
}

nav {
    background-color: #783735;
    padding: 10px 20px 20px 20px;
    /*width: auto;*/
    width: 230px;
    top: 0;
    bottom: 0;
    position: fixed;
    font-size: 18px;
    margin-top: 0px;
    line-height: 24px;
    float: none;
    overflow-y: auto;
}

nav h2 a,
nav h2 a:visited,
nav div.home-link a,
nav div.home-link a:visited {
    color: #F9E79F;
}

nav ul li a,
nav ul li a:active,
nav ul li a:visited {
    color: white;
    font-size: 17px;
}

nav h3 {
    color: #FDCBA9;
    font-size: 18px;
}

nav h2 {
    font-size: 20px;
}

.nav li a {
    color: white !important;
}

.home-link {
    padding-top: 20px;
}

.home-link a {
    font-size: 16px;
    font-weight: bold;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html, body, section {
        color: #A0A0A0;
        background-color: #151515;
    }

    nav {
        background-color: #300000;
        border-right: 1px solid #550000;
    }

    section article pre.prettyprint.source:not(.linenums) code {
        padding: 20px;
    }

    section article pre.prettyprint.source {
        border-color: #707070;

        code {
            background-color: #252525;
        }
    }

    p {
        color: #A0A0A0;
    }

    h2 {
        color: #718c00;
    }

    h3 {
        color: skyblue;
    }

    table.params {
        th {
            border-color: #707070;
            background-color: #24425C;
            color: #A0A0A0;
        }

        td {
            border-color: #707070;
        }
    }

    table.props {
        th {
            border-color: #707070;
            background-color: #24425C;
            color: #A0A0A0;
        }

        td {
            border-color: #707070;
        }

        td.name code {
            /*color: red !important;*/
        }

        td.type {
            color: yellowgreen;
        }

        td.attributes {
            color: seagreen;
        }

        td.default {
            color: gold;
        }
    }

    table.params th,
    table.props th {
        color: #C0C0C0;
    }

    table.params td.name code {
        background-color: transparent;
    }

    table.params td.name code {
        /*color: pink !important;*/
    }

    h4.name {
        background-color: #070707;
        color: rgb(136, 191, 190);
    }

    pre.prettyprint:not(pre.source) {
        border-color: #707070;
        background-color: #252525;
    }

    pre.prettyprint code {

        .pln, .pun {
            color: #D0D0D0;
        }

        .com {
            color: #707070;
        }

        .str {
            color: #619552;
        }

        .kwd {
            color: darkorange;
        }
    }

    p > code, .description code {
        background-color: transparent;
        color: pink;
        font-weight: normal;
    }

    thead tr {
        background-color: #24425C;
    }
}
